@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
:root {
  --fuente: 'Open Sans', 'Verdana', 'Arial', sans-serif;
  --gris: #e0e0e0;
  --grisOscuro: #757575;
  --rojo: #ec0000;
  --texto: #212121;
  --radius1: 0 3px 15px 0;
}
* {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
body#supernet {
  background: var(--gris) !important;
  color: var(--texto);
  font-family: 'Open Sans', 'Verdana', 'Arial', sans-serif;
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  padding: 80px 0 0 0;
}
body#supernet:after {
  -webkit-animation: backgrond 10s linear infinite;
  -moz-animation: backgrond 10s linear infinite;
  -o-animation: backgrond 10s linear infinite;
  -ms-animation: backgrond 10s linear infinite;
  animation: backgrond 10s linear infinite;
  background: url("https://nucleoapp.com/assets/img/premium-icons/outline_48px_school-education@1x.png");
  content: '';
  display: block;
  filter: hue-rotate(25deg);
  height: 151%;
  left: 50%;
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  position: absolute;
  top: 50%;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: rotate(20deg) translateY(-50%);
  -moz-transform: rotate(20deg) translateY(-50%);
  -o-transform: rotate(20deg) translateY(-50%);
  -ms-transform: rotate(20deg) translateY(-50%);
  transform: rotate(20deg) translateY(-50%);
  width: 56%;
  z-index: -1;
}
body#supernet > table#tbl {
  border-collapse: collapse !important;
  border-spacing: 0px;
  margin: 0 0 0 238px;
  width: calc(100% - 238px) !important;
}
body#supernet > table#tbl table#tbl {
  width: 100% !important;
}
body#supernet > table#tbl table#tbl tr#i4 > td {
  width: 100% !important;
}
body#supernet #spnt {
  float: none !important;
  height: auto !important;
  margin: -16px 0 0 0;
  position: relative !important;
  width: 100% !important;
}
body#supernet #spnt > div[id="spnt.header"].ieEncabezado {
  background: #fff url("https://www.santander.com.mx/santander_footer_header/images/logo_santander_footer.png") no-repeat left center !important;
  -webkit-box-shadow: 0 1px 8px rgba(0,0,0,0.3);
  box-shadow: 0 1px 8px rgba(0,0,0,0.3);
  height: auto !important;
  padding: 22.5px 16px;
  position: fixed !important;
  text-align: right;
  top: 0 !important;
  width: 100vw !important;
  z-index: 2;
}
body#supernet #spnt > div[id="spnt.header"].ieEncabezado > img {
  display: none;
}
body#supernet #spnt > div[id="spnt.header"].ieEncabezado > font {
  border-radius: 3px;
  color: var(--texto);
  font-family: var(--fuente);
  font-size: 14px !important;
  padding: 4px 8px;
  position: static !important;
  text-decoration: none;
  text-shadow: none;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
body#supernet #spnt > div[id="spnt.header"].ieEncabezado > font:hover {
  background: var(--gris);
  color: var(--rojo);
}
body#supernet #spnt > div[id="spnt.header"].ieEncabezado > font:last-child {
  background: transparent url("https://png.icons8.com/ios-glyphs/20/424242/exit.png") no-repeat 6px center;
  padding: 4px 8px 4px 30px;
}
body#supernet #spnt > div[id="spnt.header"].ieEncabezado > font:last-child:hover {
  background: var(--gris) url("https://png.icons8.com/ios-glyphs/20/ec0000/exit.png") no-repeat 6px center;
}
body#supernet #spnt > div[id="spnt.tabctrl"] {
  background-color: transparent !important;
  height: 100% !important;
  left: 0 !important;
  min-width: 222px;
  padding: 80px 0 0 0;
  position: fixed !important;
  top: 0 !important;
  width: auto !important;
}
body#supernet #spnt > div[id="spnt.tabctrl"] > div {
  float: none;
  position: static !important;
  height: auto !important;
}
body#supernet #spnt > div[id="spnt.tabctrl"] > div > .ieLeftTab,
body#supernet #spnt > div[id="spnt.tabctrl"] > div > .ieRightTab,
body#supernet #spnt > div[id="spnt.tabctrl"] > div img {
  display: none;
}
body#supernet #spnt > div[id="spnt.tabctrl"] > div:nth-child(1) fieldset font:before {
  background-position: 2px 0px !important;
}
body#supernet #spnt > div[id="spnt.tabctrl"] > div:nth-child(2) fieldset font:before {
  background-position: 0 -40px !important;
}
body#supernet #spnt > div[id="spnt.tabctrl"] > div:nth-child(3) fieldset font:before {
  background-position: 0 -279px !important;
}
body#supernet #spnt > div[id="spnt.tabctrl"] > div:nth-child(4) fieldset font:before {
  background-position: 0 -159px !important;
}
body#supernet #spnt > div[id="spnt.tabctrl"] > div:nth-child(5) fieldset font:before {
  background-position: 0 -200px !important;
}
body#supernet #spnt > div[id="spnt.tabctrl"] > div:nth-child(6) fieldset font:before {
  background-position: 0 -120px !important;
}
body#supernet #spnt > div[id="spnt.tabctrl"] > div:nth-child(7) fieldset font:before {
  background-position: 0 -320px !important;
}
body#supernet #spnt > div[id="spnt.tabctrl"] > div > div {
  float: none !important;
  height: auto !important;
  width: 100% !important;
}
body#supernet #spnt > div[id="spnt.tabctrl"] > div fieldset {
  display: block !important;
  margin: 0;
  position: static !important;
}
body#supernet #spnt > div[id="spnt.tabctrl"] > div fieldset font {
  border-radius: var(--radius1);
  color: var(--texto);
  cursor: pointer;
  display: block !important;
  font-size: 16px !important;
  margin: 0 0 12px 0;
  overflow: hidden;
  padding: 12px 16px 12px 50px;
  position: relative;
  text-align: left;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  transition: 0.3s linear;
  width: 100%;
}
body#supernet #spnt > div[id="spnt.tabctrl"] > div fieldset font:after,
body#supernet #spnt > div[id="spnt.tabctrl"] > div fieldset font:before {
  content: '';
  position: absolute;
}
body#supernet #spnt > div[id="spnt.tabctrl"] > div fieldset font:after {
  background: #fff;
  border-left: 0 solid transparent;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.4, 1);
  -moz-transition: all 0.3s cubic-bezier(0, 0, 0.4, 1);
  -o-transition: all 0.3s cubic-bezier(0, 0, 0.4, 1);
  -ms-transition: all 0.3s cubic-bezier(0, 0, 0.4, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.4, 1);
  width: 0;
  z-index: -1;
}
body#supernet #spnt > div[id="spnt.tabctrl"] > div fieldset font:before {
  background: url("https://www.santander.com.mx/Supernet2007/img/sprite-icons-misc.gif");
  height: 22px;
  left: 14px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 26px;
}
body#supernet #spnt > div[id="spnt.tabctrl"] > div fieldset font:hover,
body#supernet #spnt > div[id="spnt.tabctrl"] > div fieldset font.bodyTabOff {
  color: var(--rojo);
}
body#supernet #spnt > div[id="spnt.tabctrl"] > div fieldset font:hover:after,
body#supernet #spnt > div[id="spnt.tabctrl"] > div fieldset font.bodyTabOff:after {
  width: 100%;
  border-left: 2px solid var(--rojo);
}
body#supernet #spnt > .indraUnderMenu {
  background: #fff !important;
  border-radius: 5px;
  border: 1px solid var(--grisOscuro);
  left: unset !important;
  margin: 0;
  overflow: hidden;
  position: absolute !important;
  right: 0 !important;
  width: 250px !important;
}
body#supernet #spnt > .ieTabDivs {
  background: transparent !important;
  margin: 16px 0 0 0 !important;
  padding: 0 !important;
  position: static !important;
  width: calc(100% - 250px) !important;
}
body#supernet #spnt > .ieTabDivs .ieTab:nth-child(1) .utilWnd > .title[id*="UtilHeader"],
body#supernet #spnt > .ieTabDivs .ieTab:nth-child(2) .utilWnd > .title[id*="UtilHeader"] {
  background: url("https://www.santander.com.mx/Supernet2007/img/sprite-icons-misc.gif") 13px -510px no-repeat !important;
}
body#supernet #spnt > .ieTabDivs .ieTab:nth-child(3) .utilWnd > .title[id*="UtilHeader"] {
  background: url("https://www.santander.com.mx/Supernet2007/img/sprite-icons-misc.gif") 13px -390px no-repeat !important;
}
body#supernet #spnt > .ieTabDivs .ieTab:nth-child(4) .utilWnd > .title[id*="UtilHeader"] {
  background: url("https://www.santander.com.mx/Supernet2007/img/sprite-icons-misc.gif") 13px -630px no-repeat !important;
}
body#supernet #spnt > .ieTabDivs .ieTab:nth-child(5) .utilWnd > .title[id*="UtilHeader"] {
  background: url("https://www.santander.com.mx/Supernet2007/img/sprite-icons-misc.gif") 13px -550px no-repeat !important;
}
body#supernet #spnt > .ieTabDivs .ieTab:nth-child(6) .utilWnd > .title[id*="UtilHeader"] {
  background: url("https://www.santander.com.mx/Supernet2007/img/sprite-icons-misc.gif") 13px -470px no-repeat !important;
}
body#supernet #spnt > .ieTabDivs .ieTab:nth-child(7) .utilWnd > .title[id*="UtilHeader"] {
  background: url("https://www.santander.com.mx/Supernet2007/img/sprite-icons-misc.gif") 13px -670px no-repeat !important;
}
body#supernet #spnt > .ieTabDivs .utilWnd {
  border: none !important;
  float: none !important;
  padding: 0 !important;
}
body#supernet #spnt > .ieTabDivs .utilWnd > .title:first-child {
  display: none !important;
}
body#supernet #spnt > .ieTabDivs .utilWnd > .title[id*="UtilHeader"] {
  background-color: transparent !important;
  height: auto !important;
  margin: 0 0 16px 0;
}
body#supernet #spnt > .ieTabDivs .utilWnd > .title[id*="UtilHeader"] font {
  color: #6f6f6f !important;
  font-size: 18px !important;
  font-weight: bold;
  line-height: 1 !important;
  padding: 0 0 0 42px;
  position: static !important;
}
body#supernet #spnt > .ieTabDivs .utilWnd > .title[id*="UtilHeader"] .dheader {
  padding: 10px 0 !important;
}
body#supernet #spnt > .ieTabDivs .utilWnd > .title table tr {
  height: auto !important;
}
body#supernet #spnt > .ieTransparent {
  height: auto !important;
  left: initial !important;
  right: 0 !important;
  top: 66px !important;
  width: 250px !important;
}
body#supernet #spnt > div.ieTabDivs > div:not([style*="display: none"]) {
  -webkit-animation: open 0.5s cubic-bezier(0.35, 0.78, 0.76, 1.31);
  -moz-animation: open 0.5s cubic-bezier(0.35, 0.78, 0.76, 1.31);
  -o-animation: open 0.5s cubic-bezier(0.35, 0.78, 0.76, 1.31);
  -ms-animation: open 0.5s cubic-bezier(0.35, 0.78, 0.76, 1.31);
  animation: open 0.5s cubic-bezier(0.35, 0.78, 0.76, 1.31);
}
body#supernet #spnt > div.ieTabDivs > div {
  height: auto !important;
  padding: 0 2rem 0 0;
  position: static !important;
  width: 100% !important;
}
body#supernet #spnt > div.ieTabDivs > div,
body#supernet #spnt .utilBody {
  background: transparent !important;
  height: auto !important;
}
body#supernet #spnt .footer {
  background: rgba(255,152,0,0) !important;
  bottom: 0 !important;
  display: block !important;
  height: auto !important;
  left: 0 !important;
  padding: 16px 0;
  position: fixed !important;
  top: auto !important;
  width: 100% !important;
}
body#supernet #spnt .footer img {
  display: none;
}
body#supernet #spnt .footer font {
  position: static !important;
  padding: 16px 32px 16px 42px !important;
  background: url("https://png.icons8.com/windows/28/212121/connection-sync.png") no-repeat 8px center;
  color: var(--texto);
  cursor: pointer;
  text-transform: uppercase;
}
body#supernet #spnt .footer font:hover {
  background: url("https://png.icons8.com/windows/28/ec0000/connection-sync.png") no-repeat 8px center;
  color: var(--rojo);
}
body#supernet #spnt div[id="spnt.tabdivs.msdr"] div[id="spnt.tabdivs.msdr.oprp"] {
  height: auto !important;
  width: 20% !important;
}
body#supernet #spnt div[id="spnt.tabdivs.msdr"] div[id="spnt.tabdivs.msdr.work"] {
  width: 80% !important;
}
body#supernet .mainOperations {
  background: #fff;
  border-radius: 4px 4px 32px 8px;
  border: none !important;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
  color: #fff !important;
  margin: 0 0 1rem 0 !important;
  overflow: hidden;
  padding: 0 1rem 1rem;
}
body#supernet .mainOperations .mainOperations {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0 !important;
  overflow: initial !important;
  padding: 0;
}
body#supernet .mainOperations .caja-header {
  background-color: transparent !important;
  background-position-x: 0 !important;
  height: auto !important;
  margin: 0 !important;
}
body#supernet .mainOperations .caja-header font.header2 {
  color: var(--rojo);
  display: block;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 1 !important;
  padding: 10px 0 10px 31px !important;
  position: static !important;
}
body#supernet .mainOperations .caja-header img.linked {
  padding: 0 0 0 100%;
  right: -9px !important;
  top: 10px !important;
}
body#supernet .mainOperations .caja-header img.linked[src="https://www.santander.com.mx:443/Supernet2007/img/expand.gif"] {
  -webkit-animation: expand 0.3s linear;
  -moz-animation: expand 0.3s linear;
  -o-animation: expand 0.3s linear;
  -ms-animation: expand 0.3s linear;
  animation: expand 0.3s linear;
}
body#supernet .mainOperations .caja-header img.linked[src="https://www.santander.com.mx:443/Supernet2007/img/colapse.gif"] {
  -webkit-animation: colapse 0.3s linear;
  -moz-animation: colapse 0.3s linear;
  -o-animation: colapse 0.3s linear;
  -ms-animation: colapse 0.3s linear;
  animation: colapse 0.3s linear;
}
body#supernet .mainOperations td[id="trjtasCredito.contenedorCajaColap"] > div:first-child {
  height: auto !important;
  overflow: auto !important;
}
body#supernet .mainOperations td[id="trjtasCredito.contenedorCajaColap"] > div:first-child > table {
  position: static !important;
}
body#supernet .mainWin[id="loading.UtilDialog"] {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: transparent !important;
  border: 0 !important;
  border-radius: 0 !important;
  display: block;
  height: 100vh !important;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  left: 0 !important;
  position: fixed !important;
  top: 0 !important;
  width: 100vw !important;
}
body#supernet .mainWin[id="loading.UtilDialog"] * {
  display: none;
  position: static !important;
  width: 100% !important;
}
body#supernet .mainWin[id="loading.UtilDialog"] > div.title {
  display: none;
}
body#supernet .mainWin[id="loading.UtilDialog"] > div.win_bckg {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: var(--texto) !important;
  -webkit-background-size: 140px !important;
  -moz-background-size: 140px !important;
  background-size: 140px !important;
  border-radius: 4px 4px 32px 8px;
  bottom: 20px !important;
  -webkit-box-shadow: -2px -2px 20px 0px rgba(0,0,0,0.7);
  box-shadow: -2px -2px 20px 0px rgba(0,0,0,0.7);
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: auto !important;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  left: 16px !important;
  margin: 0 auto;
  padding: 16px;
  position: absolute !important;
  top: initial !important;
  width: 213px !important;
  z-index: 5;
}
body#supernet .mainWin[id="loading.UtilDialog"] > div.win_bckg:before {
  color: #fff;
  content: 'Cargando...';
  font-size: 16px;
  left: 56px;
  position: absolute;
  text-transform: uppercase;
}
body#supernet .mainWin[id="loading.UtilDialog"] > div.win_bckg #loadingCont {
  -webkit-animation: load 1s linear infinite;
  -moz-animation: load 1s linear infinite;
  -o-animation: load 1s linear infinite;
  -ms-animation: load 1s linear infinite;
  animation: load 1s linear infinite;
  background: url("https://png.icons8.com/windows/25/ffffff/refresh.png") no-repeat center center !important;
  border-radius: 50%;
  display: block;
  height: 25px !important;
  margin: 0 auto 0 0 !important;
  position: static !important;
  width: 25px !important;
}
body#supernet .mainWin {
  border: none !important;
  border-radius: 16px 16px 64px 5px;
  -webkit-box-shadow: 0 0 0 200vw rgba(0,0,0,0.4), 0 0 83px 0px rgba(0,0,0,0.431);
  box-shadow: 0 0 0 200vw rgba(0,0,0,0.4), 0 0 83px 0px rgba(0,0,0,0.431);
  height: auto !important;
  min-height: 50vh;
  min-width: 50vw;
  overflow: hidden;
  width: auto !important;
}
body#supernet table[id="trjtasCredito.summ.table"],
body#supernet table.eTable {
  background: #fff;
  overflow: hidden;
  width: 100%;
}
body#supernet table[id="trjtasCredito.summ.table"] tr:hover,
body#supernet table.eTable tr:hover {
  background: #eee !important;
}
body#supernet table[id="trjtasCredito.summ.table"] tr:not(.tableHeading):nth-child(odd),
body#supernet table.eTable tr:not(.tableHeading):nth-child(odd) {
  background: #f9f9f9;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
body#supernet table[id="trjtasCredito.summ.table"] tr.tableHeadingScrollEC,
body#supernet table.eTable tr.tableHeadingScrollEC,
body#supernet table[id="trjtasCredito.summ.table"] tr.tableHeading,
body#supernet table.eTable tr.tableHeading {
  background: #e0e0e0 !important;
}
body#supernet table[id="trjtasCredito.summ.table"] tr.tableHeadingScrollEC td,
body#supernet table.eTable tr.tableHeadingScrollEC td,
body#supernet table[id="trjtasCredito.summ.table"] tr.tableHeading td,
body#supernet table.eTable tr.tableHeading td {
  border: none;
  color: var(--texto) !important;
  font-size: 13px;
  font-weight: 700;
  height: auto;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  white-space: inherit !important;
}
body#supernet table[id="trjtasCredito.summ.table"] tr.tableHeadingScrollEC td:hover:before,
body#supernet table.eTable tr.tableHeadingScrollEC td:hover:before,
body#supernet table[id="trjtasCredito.summ.table"] tr.tableHeading td:hover:before,
body#supernet table.eTable tr.tableHeading td:hover:before {
  background: rgba(224,224,224,0.35);
  content: '';
  left: 0;
  min-height: 200vh;
  position: absolute;
  top: 100%;
  width: 100%;
}
body#supernet table[id="trjtasCredito.summ.table"] tr td:first-child,
body#supernet table.eTable tr td:first-child {
  padding: 14px 0 14px 24px !important;
}
body#supernet table[id="trjtasCredito.summ.table"] tr td:last-child,
body#supernet table.eTable tr td:last-child {
  padding: 14px 24px 14px 0 !important;
}
body#supernet table[id="trjtasCredito.summ.table"] tr td,
body#supernet table.eTable tr td {
  background: transparent !important;
  border-bottom: 1px solid #e0e0e0;
  color: #6f7b8a !important;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.5px;
  padding: 6px 0 !important;
}
@-moz-keyframes backgrond {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 0 -672px;
  }
}
@-webkit-keyframes backgrond {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 0 -672px;
  }
}
@-o-keyframes backgrond {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 0 -672px;
  }
}
@keyframes backgrond {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 0 -672px;
  }
}
@-moz-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes open {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(5rem);
    -moz-transform: translateY(5rem);
    -o-transform: translateY(5rem);
    -ms-transform: translateY(5rem);
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes open {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(5rem);
    -moz-transform: translateY(5rem);
    -o-transform: translateY(5rem);
    -ms-transform: translateY(5rem);
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes open {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(5rem);
    -moz-transform: translateY(5rem);
    -o-transform: translateY(5rem);
    -ms-transform: translateY(5rem);
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes open {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(5rem);
    -moz-transform: translateY(5rem);
    -o-transform: translateY(5rem);
    -ms-transform: translateY(5rem);
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes expand {
  from {
    padding: 0;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  to {
    padding: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes expand {
  from {
    padding: 0;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  to {
    padding: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-o-keyframes expand {
  from {
    padding: 0;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  to {
    padding: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes expand {
  from {
    padding: 0;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  to {
    padding: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
