@import 'nib'
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i')

:root
 --fuente     'Open Sans', 'Verdana', 'Arial', sans-serif
 --gris       #e0e0e0
 --grisOscuro #757575
 --rojo       #ec0000
 --texto      #212121
 --radius1    0 3px 15px 0

*
  box-sizing border-box !important;

body#supernet
  background var(--gris) !important
  color var(--texto)
  font-family 'Open Sans', 'Verdana', 'Arial', sans-serif
  margin 0
  min-height 100vh
  overflow hidden
  padding 80px 0 0 0
  &:after
    animation backgrond 10s linear infinite
    background url(https://nucleoapp.com/assets/img/premium-icons/outline_48px_school-education@1x.png)
    content ''
    display block
    filter hue-rotate(25deg)
    height 151%
    left 50%
    opacity .2
    position absolute
    top 50%
    transform-origin center center
    transform rotate(20deg) translateY(-50%)
    width 56%
    z-index -1
  > table#tbl
    border-collapse collapse !important
    border-spacing 0px
    margin 0 0 0 238px
    width calc(100% - 238px) !important
    table#tbl
      width 100% !important
      tr#i4
        > td
          width 100% !important
  #spnt
    float none !important
    height auto !important
    margin -16px 0 0 0
    position relative !important
    width 100% !important
    > div[id="spnt.header"].ieEncabezado
      background white url(https://www.santander.com.mx/santander_footer_header/images/logo_santander_footer.png) no-repeat left center !important
      box-shadow 0 1px 8px rgba(black, .3)
      height auto !important
      padding 22.5px 16px
      position fixed !important
      text-align right
      top 0 !important
      width 100vw !important
      z-index 2
      > img
        display none
      > font
        border-radius 3px
        color var(--texto)
        font-family var(--fuente)
        font-size 14px !important
        padding 4px 8px
        position static !important
        text-decoration none
        text-shadow none
        transition background .3s ease-in-out
        &:hover
          background var(--gris)
          color var(--rojo)
        &:last-child
          background transparent url(https://png.icons8.com/ios-glyphs/20/424242/exit.png) no-repeat 6px center
          padding 4px 8px 4px 30px
          &:hover
            background var(--gris) url(https://png.icons8.com/ios-glyphs/20/ec0000/exit.png) no-repeat 6px center
    > div[id="spnt.tabctrl"]
      background-color transparent !important
      height 100% !important
      left 0 !important
      min-width 222px
      padding 80px 0 0 0
      position fixed !important
      top 0 !important
      width auto !important
      > div
        float none
        position static !important
        height auto !important
        > .ieLeftTab
        > .ieRightTab
        img
          display none
        &:nth-child(1)
          fieldset
            font
              &:before
                background-position 2px 0px !important
        &:nth-child(2)
          fieldset
            font
              &:before
                background-position 0 -40px !important
        &:nth-child(3)
          fieldset
            font
              &:before
                background-position 0 -279px !important
        &:nth-child(4)
          fieldset
            font
              &:before
                background-position 0 -159px !important
        &:nth-child(5)
          fieldset
            font
              &:before
                background-position 0 -200px !important
        &:nth-child(6)
          fieldset
            font
              &:before
                background-position 0 -120px !important
        &:nth-child(7)
          fieldset
            font
              &:before
                background-position 0 -320px !important
        > div
          float none !important
          height auto !important
          width 100% !important
        fieldset
          display block !important
          margin 0
          position static !important
          font
            border-radius var(--radius1)
            color var(--texto)
            cursor pointer
            display block !important
            font-size 16px !important
            margin 0 0 12px 0
            overflow hidden
            padding 12px 16px 12px 50px
            position relative
            text-align left
            transition .3s linear
            width 100%
            &:after
            &:before
              content ''
              position absolute
            &:after
              background white
              border-left 0 solid transparent
              height 100%
              left 0
              top 0
              transition all .3s cubic-bezier(0, 0, 0.4, 1)
              width 0
              z-index -1
            &:before
              background url(https://www.santander.com.mx/Supernet2007/img/sprite-icons-misc.gif)
              height 22px
              left 14px
              top 50%
              transform translate(0, -50%)
              width 26px
            &:hover
            &.bodyTabOff
              color var(--rojo)
              &:after
                width 100%
                border-left 2px solid var(--rojo)
    > .indraUnderMenu
      background #fff !important
      border-radius 5px
      border 1px solid var(--grisOscuro)
      left unset !important
      margin 0
      overflow hidden
      position absolute !important
      right 0 !important
      width 250px !important
    > .ieTabDivs
      background transparent !important
      margin 16px 0 0 0 !important
      padding 0 !important
      position static !important
      width calc(100% - 250px) !important
      .ieTab
        &:nth-child(1)
        &:nth-child(2)
          .utilWnd
            > .title[id*="UtilHeader"]
              background url(https://www.santander.com.mx/Supernet2007/img/sprite-icons-misc.gif) 13px -510px no-repeat !important
        &:nth-child(3)
          .utilWnd
            > .title[id*="UtilHeader"]
              background url(https://www.santander.com.mx/Supernet2007/img/sprite-icons-misc.gif) 13px -390px no-repeat !important
        &:nth-child(4)
          .utilWnd
            > .title[id*="UtilHeader"]
              background url(https://www.santander.com.mx/Supernet2007/img/sprite-icons-misc.gif) 13px -630px no-repeat !important
        &:nth-child(5)
          .utilWnd
            > .title[id*="UtilHeader"]
              background url(https://www.santander.com.mx/Supernet2007/img/sprite-icons-misc.gif) 13px -550px no-repeat !important
        &:nth-child(6)
          .utilWnd
            > .title[id*="UtilHeader"]
              background url(https://www.santander.com.mx/Supernet2007/img/sprite-icons-misc.gif) 13px -470px no-repeat !important
        &:nth-child(7)
          .utilWnd
            > .title[id*="UtilHeader"]
              background url(https://www.santander.com.mx/Supernet2007/img/sprite-icons-misc.gif) 13px -670px no-repeat !important
      .utilWnd
        border none !important
        float none !important
        padding 0 !important
        > .title:first-child
          display none !important
        > .title[id*="UtilHeader"]
          background-color transparent !important
          height auto !important
          margin 0 0 16px 0
          font
            color #6f6f6f !important
            font-size 18px !important
            font-weight bold
            line-height 1 !important
            padding 0 0 0 42px
            position static !important
          .dheader
            padding 10px 0 !important
        > .title
          table
            tr
              height auto !important
    > .ieTransparent
      height auto !important
      left initial !important
      right 0 !important
      top 66px !important
      width 250px !important
    > div.ieTabDivs
      > div:not([style*="display: none"])
        animation open .5s cubic-bezier(0.35, 0.78, 0.76, 1.31)
      > div
        height auto !important
        padding 0 2rem 0 0
        position static !important
        width 100% !important
    > div.ieTabDivs > div
    .utilBody
      background transparent !important
      height auto !important
    .footer
      background #ff980000 !important
      bottom 0 !important
      display block !important
      height auto !important
      left 0 !important
      padding 16px 0
      position fixed !important
      top auto !important
      width 100% !important
      img
        display none
      font
        position static !important
        padding 16px 32px 16px 42px !important
        background url(https://png.icons8.com/windows/28/212121/connection-sync.png) no-repeat 8px center
        color var(--texto)
        cursor pointer
        text-transform uppercase
        &:hover
          background url(https://png.icons8.com/windows/28/ec0000/connection-sync.png) no-repeat 8px center
          color var(--rojo)
    div[id="spnt.tabdivs.msdr"]
      div[id="spnt.tabdivs.msdr.oprp"]
        height auto !important
        width 20% !important
      div[id="spnt.tabdivs.msdr.work"]
        width 80% !important
  .mainOperations
    background white
    border-radius 4px 4px 32px 8px
    border none !important
    box-shadow 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12)
    color white !important
    margin 0 0 1rem 0 !important
    overflow hidden
    padding 0 1rem 1rem
    .mainOperations
      background transparent
      box-shadow none
      margin 0 !important
      overflow initial !important
      padding 0
    .caja-header
      background-color transparent !important
      background-position-x 0 !important
      height auto !important
      margin 0 !important
      font.header2
        color var(--rojo)
        display block
        font-size 16px !important
        font-weight 400
        line-height 1 !important
        padding 10px 0 10px 31px !important
        position static !important
      img.linked
        padding 0 0 0 100%
        right -9px !important
        top 10px !important
        &[src="https://www.santander.com.mx:443/Supernet2007/img/expand.gif"]
          animation expand .3s linear
        &[src="https://www.santander.com.mx:443/Supernet2007/img/colapse.gif"]
          animation colapse .3s linear
    td[id="trjtasCredito.contenedorCajaColap"]
      > div:first-child
        height auto !important
        overflow auto !important
        > table
          position static !important
  .mainWin[id="loading.UtilDialog"]
    align-items center
    background transparent !important
    border 0 !important
    border-radius 0 !important
    display block
    height 100vh !important
    justify-content center
    left 0 !important
    position fixed !important
    top 0 !important
    width 100vw !important
    *
      display none
      position static !important
      width 100% !important
    > div.title
      display none
    > div.win_bckg
      align-items center
      background var(--texto) !important
      background-size 140px!important
      border-radius 4px 4px 32px 8px
      bottom 20px !important
      box-shadow -2px -2px 20px 0px rgba(0, 0, 0, 0.7)
      display flex
      height auto !important
      justify-content center
      left 16px !important
      margin 0 auto
      padding 16px
      position absolute !important
      top initial !important
      width 213px !important
      z-index 5
      &:before
        color white
        content 'Cargando...'
        font-size 16px
        left 56px
        position absolute
        text-transform uppercase
    > div.win_bckg #loadingCont
      animation load 1s linear infinite
      background url(https://png.icons8.com/windows/25/ffffff/refresh.png) no-repeat center center !important
      border-radius 50%
      display block
      height 25px !important
      margin 0 auto 0 0 !important
      position static !important
      width 25px !important
  .mainWin
    border none !important;
    border-radius 16px 16px 64px 5px
    box-shadow 0 0 0 200vw #00000066, 0 0 83px 0px #0000006e
    height auto !important
    min-height 50vh
    min-width 50vw
    overflow hidden
    width auto !important
  table[id="trjtasCredito.summ.table"]
  table.eTable
    background white
    overflow hidden
    width 100%
    tr
      &:hover
        background #eeeeee !important
      &:not(.tableHeading):nth-child(odd)
        background #f9f9f9
        transition .3s
      &.tableHeadingScrollEC
      &.tableHeading
        background #e0e0e0 !important
        td
          border none
          color var(--texto) !important
          font-size 13px
          font-weight 700
          height auto
          position relative
          text-align center
          text-transform uppercase
          white-space inherit !important
          &:hover:before
            background rgba(224, 224, 224, 0.35)
            content ''
            left 0
            min-height 200vh
            position absolute
            top 100%
            width 100%
      td:first-child
        padding 14px 0 14px 24px !important
      td:last-child
        padding 14px 24px 14px 0 !important
      td
        background transparent !important
        border-bottom 1px solid #e0e0e0
        color #6f7b8a !important
        font-size 13px
        font-style normal
        font-weight 400
        line-height 19.5px
        padding 6px 0 !important
        
@keyframes backgrond
  from
    background-position 0px 0px
  to
    background-position 0 -672px
@keyframes load
  0%
    transform rotate(0deg)
  100%
    transform rotate(360deg)
@keyframes open
  0%
    opacity 0
    transform translateY(5rem)
  100%
    opacity 1
    transform translateY(0)
@keyframes expand
  from
    padding 0
    transform rotate(-90deg)
  to
    padding 0
    transform rotate(0deg)
// @keyframes colapse
//   from
//     padding 0
//     transform rotate(0deg)
//   to
//     padding 0
//     transform rotate(90deg)